body{
  background-color: #EAF6F6;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: #808080;
  border-width: 10px;
  width: 5%;
}
img{
  height: 150px;
  width: 150px;
}
h2{
  color: #66BFBF;
}
h3{
  color: #66BFBF;
}
